.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-parallax {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}

.App-headline-container {
  height: 0;
}
.App-headline {
  height: 100vh;
  position: relative;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-parallax-image {
  height: 100vh;
  border-top: 10px solid blue;
}
